* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #fff;
    overflow-x: hidden;
}


/* navigation */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15%;
}


.navigations {
    font-size: 18px;
    gap: 3px;
    display: flex;
}

.navigations li {
    margin-left: 2px;
    padding: 0px 5px;
    display: inline-block;
}

.symbol {
    font-size: 20px;
    padding: 0;
    height: auto;
}

.symbol h1 {
    margin: 0;
}


.navigations a,
.symbol {
    display: flex;
    align-items: center;
    color: #000
}


.logo {
    font-size: 50px;
    color: black;
    margin-right: auto;
}

svg {
    display: flex;
    flex-direction: column;
    width: 20px;
    color: #000;
}

.icon-navigations {
    display: flex;
    gap: 20px;
    order: 1;
}

.background {
    display: flex;
    justify-content: center;
}

.model {
    width: 1590px;
    height: 460px;

}

/* Products Start */

.sec {
    padding: 10px 5%;
}

.products .card {
    width: 320px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
} 

.products .card img {
    height: 300px;
    width: 85%;
}

.products .card .desc {
    padding: 5px 20px;
    opacity: 0.8;
}

.products .card .title {
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}

.products .card .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.products .card .box .price {
    color: #f63e4e;
    font-size: 20px;
    font-weight: bold;
}

.products .card .box .btn {
    font-size: 13px;
    color: #f63e4e;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid #f63e4e;
    border-radius: 20px;
}

.products .card .box .btn:hover {
    cursor: pointer;
    background-color: #f63e4e;
    color: white;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

/* Products End */


/* Footer */
footer {
    background-color: #fff;
    color: #000;
    padding: 30px;
    text-align: center;
}

.footer-section {
    max-width: 1245px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.footer-section>div {
    flex: 1;
    text-align: left;
    padding: 0 10px;
}

.footer-section a {
    color: #666;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.social-icons {
    flex: 1;
    text-align: left;
    padding: 0 10px;
}

.copyright {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #666;
}

.copyright a {
    color: #000;
}