* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

/* navigation */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}


.navigations {
  font-size: 16px;
  gap: 3px;
}

.navigations li {
  margin-left: auto;
  display: inline-block;
  padding: 0px 2px;
}

.navigations a {
  transition: all 0.3s ease 0s;
  color: black;
}

.logo {
  font-size: 30px;
  color: black;
  margin-right: auto;
}

svg {
  display: flex;
  flex-direction: column;
  width: 15px;
  color: #000;
}

.icon-navigations {
  display: flex;
  gap: 20px;
  order: 1;
}

/* Title page */

.text-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 15px;
  padding: 192px;
}

.paragraph {
  width: 100%;
  max-width: 549px;
  height: auto;
}

button {
  width: 100%;
  max-width: 311px;
  height: 58px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  letter-spacing: 0.32px;
  cursor: pointer;
}

button:hover {
  border-color: #000;
}

/* Footer */
