* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Outfit', sans-serif; /* Make sure to import your desired font */
}

body {
  background-color: #fff;
}

.nav-container {
  display: flex;
  /* background-color: aqua; */
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.navigations {
  display: flex;
  gap: 30px;
  list-style: none;
  position: absolute;
  justify-content: center;
}

.navigations li {
  margin: 0;
  
}

.navigations a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: flex;
  position: relative;
  left: 100px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 47rem;
  font-size: 60px;
  color: black; 
  width: 250px;
  height: 82px;
}

.jap-logo{
  color: #000;
}

svg{
  position: relative;
  right: 10rem;
  width: 20px;
}

.icon-navigations{
  display: flex;
  position: relative;
  gap: 35px;
  left:  6rem; 
}